@import './../../globals.scss';

.appBar {
    background-color: rgba(0, 0, 0, .635);

    a {
        text-decoration: none;
        transition: all .333s ease;
    }

    a:not(.appBar__brand) {
        &:hover {
            color: $light;
        }
    }

    &__brand {
        color: $light;

        &:hover {
            color: $dark;
        }
    }
}