@import '../../sass/colors.scss';

.stats {
    width: 100%;
    min-height: 5rem;
    background-color: transparent;

    &__inner-wrapper {
        max-width: 1049px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: $contrastText;
        padding: 2rem 1rem;
        position: absolute;
        top: 82vh;
        left: 0;
        right: 0;

    }

    &__feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        p {
            line-height: 1;
            color: #000;
        }

        &-stat {
            /* h3 */
            color: $dark;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: 0.1px;
        }

        &-copy {
            color: var(--second-text-color, #737373);
            /* h6 */
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 171.429% */
            letter-spacing: 0.2px;
        }

    }
}